html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg{
    height: 50px;
    stroke-width: 1.5px;
}

svg:hover{
    cursor: pointer;
}

.plant{
    width: 800px;
    height: 450px;
    object-fit: cover;
    user-select: none;
}


